@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<!--
    Peter Haines (Max Haines)
    Program that gets bowler info from the bowling database
    Sorts them into teams and organizes it by a predetermined amount of teams
    displayed on the page
-->

<div class="text-center">
    <h3>Contact List</h3>

@foreach (var t in Model.Teams)
{
    
    {

    }
    <h4>@t.TeamName</h4>
}
    <p>
        @foreach (var x in Model.Bowlers)
        {
            <div><b>@x.BowlerLastName, @x.BowlerFirstName @x.BowlerMiddleInit</b></div>
            <div>@x.BowlerAddress @x.BowlerCity, @x.BowlerState @x.BowlerZip</div>
            <div>@x.BowlerPhoneNumber</div><br />

        }
    </p>

    <div page-info="@Model.PageNumberingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-team="@Model.Team"
         ></div>
</div>
